apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: my-server
  name: my-server
spec:
  replicas: 10
  selector:
    matchLabels:
      app: my-server
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: my-server
    spec:
      containers:
      - image: nginx
        
        name: my-server
        resources: {}
status: {}
